@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Lato', sans-serif;
	overscroll-behavior-y: none;
}

/* daisyUI theme styling */

[data-theme='dark'] .input {
	@apply bg-zinc-900;
}

[data-theme='dark'] .textarea {
	@apply bg-zinc-900;
	resize: none;
}
